:root,
[data-bs-theme="light"] {
    --navbar-text-color: rgba(255, 255, 255, .65);
    --navbar-brand-color: rgba(255, 255, 255, .85);

}

[data-bs-theme="dark"] {
    color-scheme: dark;
    --navbar-text-color: rgba(255, 255, 255, .65);
    --navbar-brand-color: rgba(255, 255, 255, .85);

}

html {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding: 0.5rem;
    color: var(--navbar-brand-color);
}

a.navbar-brand:hover, a.navbar-brand:focus, a.navbar-brand:active:focus {
    color: var(--navbar-brand-color);
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.04);
    outline: none;
}

a.nav-link {
    color: var(--navbar-text-color);
}

a.nav-link:hover, a.nav-link:focus {
    color: var(--navbar-text-color);
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.04);
}

button.nav-link {
    color: var(--navbar-text-color);
}

button.nav-link:after {
    color: var(--navbar-text-color);
}

button.nav-link:hover, button.nav-link:focus, button.nav-link:active:focus {
    color: var(--navbar-text-color);
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.04);
}

button.nav-link.active {
    font-weight: 600;
    color: var(--navbar-text-color);
}

.theme-icon-active {
    color: var(--navbar-text-color);
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

a {
    color: #0077cc;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 0 60px;
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Baloo 2", sans-serif;
}

h1.name {
    font-weight: 900;
    line-height: 103%;
    margin: 0;
}

.underlay-container {
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
    display: block;
}

.underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -3;
}

.underlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover; /* Ensures the image covers the entire area */
    filter: brightness(80%); /* Adjust the brightness to make the image less bright */
    pointer-events: none; /* Ensures the image is not clickable */
}

.underlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(45, 49, 53, 0.75);
}
