:root{
    --main-text-color:rgb(24, 77, 161);
}

.fixed-right-center
{
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1030;
}

h2
{
    font-size: 4rem;
    color:var(--main-text-color);
}

h3
{
    font-size: 2rem;
    color:var(--main-text-color);
}

/*
    Overrides Bootstrap class
*/
.container-fluid
{
    max-width: 1280px;
    padding: 40px 180px;
}

.alt-background-color
{
    background-color: cadetblue;
}

.experience-header
{
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
    font-weight: 700 !important;
}

.checked
{
    color: orange;
}

.abilities-list li
{
    border-width: 0 0 0px !important;
}

.abilities-list li:hover
{
    background-color: rgba(179, 179, 179, 0.25);
}

.abilities-list .ability-title
{
    display: inline-block;
    width: 60%;
}

.abilities-list .ability-score
{
    float: right;
}

.contact-background-color
{
    background-color: #434242;
}

#contact h2, #contact .row *
{
    color: white;
}