@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="position-static">
    <div class="underlay-container text-white d-flex align-items-center justify-content-center">
        <div class="underlay">
            <img src="images/ComputerProgramming-3087x2058.jpeg" alt="Computer Programming" />
        </div>
        <div class="underlay underlay-bg"></div>
        <div class="text-center align-items-center">
            <p class="text-primary text-uppercase" style="letter-spacing: 0.2em">Hi, my name is</p>
            <h1 class="text-white display-1 name">Jonathan Garza</h1>
            <hr />
            <p>I build things for the desktop and web</p>
        </div>
    </div>
</section>
<section class="position-static pb-2 pt-5 bg-body">
    <div class="text-center">
        <h2 class="display-4">About Me</h2>
        <p>This portfolio website is currently a work in progress.</p>
    </div>
</section>
<section class="pb-2 pt-5 bg-body-secondary">
    <div class="text-center">
        <h2 class="display-4">Experience</h2>
        <p>This portfolio website is currently a work in progress.</p>
    </div>
</section>
<section class="pb-2 pt-5 bg-body">
    <div class="text-center">
        <h2 class="display-4">Icons</h2>
        <p>This portfolio website is currently a work in progress.</p>
    </div>
</section>
<section class="pb-2 pt-5 bg-body-secondary">
    <div class="text-center">
        <h2 class="display-4">Contact Me</h2>
        <p>This portfolio website is currently a work in progress.</p>
    </div>
</section>